.dingbu{
    width: 100%;
    height: 85px;
    padding:0 40px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.dingbu .tu{
    width: 97px;
    height: 42px;
    margin-top: 19px;

}
.dingbu .tu img{
    width: 97px;
    height: 42px;
}
.dingbu .you{
    width: 600px;
    height: 28px;
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
}
.dingbu .you a {
    font-size: 20px;
    color: black;
}
.dingbu .you .zixia{
    border-bottom: 0.1px solid black;
}
.anli{
    width: 100%;
    height: 1138px;
    background: #691212;
    padding-top: 150px;
}
.anli .neibu{
    width: 1200px;
    height: 948px;
    margin: 0 auto;

}
.anli .neibu .picture{
    width: 286px;
    height: 286px;
    margin: 0 10px 30px 4px;
    float: left;
}
.anli .neibu .picture img{
    width: 100%;
    height: 100%;
}
















